/* reset.scss */
* {
  box-sizing: border-box; }

body {
  line-height: 1; }

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

img, fieldset {
  border: 0px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul, ol, li {
  list-style: none; }

address, em {
  font-style: normal; }

li img, object {
  vertical-align: top; }

input, select, textarea, form img {
  vertical-align: middle; }

a {
  outline: 0;
  text-decoration: none;
  border: none;
  color: #444; }

body {
  font: 16px /1.2 "Noto Sans KR", arial;
  color: #333;
  font-weight: 400; }

.noMargin {
  margin: 0px; }

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: 0; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

.floatClear:after {
  content: '';
  display: block;
  clear: both; }

.hidden {
  display: none; }

.blind {
  display: block;
  text-indent: -2000px;
  overflow: hidden; }

/*
 * Nanum Pen Script (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanumpenscript/v4/NanumPenScript-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanumpenscript/v4/NanumPenScript-Regular.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanumpenscript/v4/NanumPenScript-Regular.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanumpenscript/v4/NanumPenScript-Regular.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanumpenscript/v4/NanumPenScript-Regular.ttf) format("truetype"); }
/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format("truetype"); }
/*
 * Nanum Myeongjo (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 600;
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.eot);
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.eot);
  src: url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanummyeongjo/v4/NanumMyeongjo-ExtraBold.ttf) format("truetype"); }
/*
 * Nanum Gothic Coding (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Bold.eot);
  src: url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Bold.eot?#iefix) format("embedded-opentype"), url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Bold.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Bold.woff) format("woff"), url(http://fonts.gstatic.com/ea/nanumgothiccoding/v4/NanumGothicCoding-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format("woff2"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format("woff"), url(http://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format("opentype"); }
#wrap {
  width: 100%; }
  #wrap #focus {
    position: relative; }
    #wrap #focus a {
      position: absolute;
      top: -500px;
      left: 0;
      width: 138px;
      background: #333;
      color: #fff;
      text-align: center; }
      #wrap #focus a:focus {
        top: 0;
        text-decoration: none;
        z-index: 9999; }
  #wrap #top_wrap {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fff; }
    #wrap #top_wrap #top_menu {
      width: 1160px;
      margin: 0 auto;
      display: flex;
      position: relative; }
      #wrap #top_wrap #top_menu .top_logo {
        width: 112px;
        height: 29px;
        background-image: url(../img/topl1.png);
        background-repeat: no-repeat;
        margin-top: 6px;
        display: block; }
      #wrap #top_wrap #top_menu .top_txt {
        font-size: 12px;
        position: absolute; }
        #wrap #top_wrap #top_menu .top_txt:nth-child(2) {
          right: 7%; }
        #wrap #top_wrap #top_menu .top_txt:nth-child(3) {
          right: 1%; }
        #wrap #top_wrap #top_menu .top_txt a {
          color: #999;
          font-weight: 400; }
      #wrap #top_wrap #top_menu .m_top_gnb, #wrap #top_wrap #top_menu .m_gnb_menu {
        display: none; }
  #wrap #gnb {
    width: 100%;
    height: 80px;
    background: #f9f9f9;
    line-height: 80px; }
    #wrap #gnb .gnb_menu {
      display: flex;
      width: 1160px;
      margin: 0 auto; }
      #wrap #gnb .gnb_menu .gnb_menu_li {
        position: relative; }
        #wrap #gnb .gnb_menu .gnb_menu_li .gnb_txt {
          display: block;
          font-size: 18px;
          font-weight: 600;
          height: 80px;
          margin-left: 80px;
          border-bottom: 3px solid #ffffff00;
          transition: all .5s; }
          #wrap #gnb .gnb_menu .gnb_menu_li .gnb_txt:hover {
            border-bottom: 3px solid #8cbc0f;
            color: #8cbc0f; }
        #wrap #gnb .gnb_menu .gnb_menu_li ul {
          width: 100%;
          height: 500px;
          background: #fff;
          font-size: 14px;
          text-align: center;
          width: 100%;
          position: absolute;
          left: 30px;
          z-index: 999;
          display: none; }
          #wrap #gnb .gnb_menu .gnb_menu_li ul li {
            height: 40px;
            line-height: 40px; }
            #wrap #gnb .gnb_menu .gnb_menu_li ul li a {
              color: #666;
              transition: all .3s; }
              #wrap #gnb .gnb_menu .gnb_menu_li ul li a:hover {
                color: #8cbc0f; }
        #wrap #gnb .gnb_menu .gnb_menu_li .gnb_1 {
          width: 132px;
          height: 40px;
          background-image: url(../img/navl1.png);
          margin-top: 20px;
          display: block; }
        #wrap #gnb .gnb_menu .gnb_menu_li:nth-child(7) {
          margin-left: 80px;
          position: relative; }
          #wrap #gnb .gnb_menu .gnb_menu_li:nth-child(7) #search_box {
            width: 165px;
            height: 30px;
            border: 1px solid #999;
            position: absolute;
            top: 25px;
            left: 0; }
          #wrap #gnb .gnb_menu .gnb_menu_li:nth-child(7) .search_ico {
            display: block;
            width: 17px;
            height: 18px;
            background-image: url(../img/ico_search.png);
            position: absolute;
            top: 30px;
            right: -155px; }
  #wrap #quick {
    text-align: center;
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 500; }
    #wrap #quick ul {
      width: 80px;
      height: 360px; }
      #wrap #quick ul li {
        width: 100%;
        height: 72px;
        line-height: 28px;
        border: 1px solid #c9c9c9;
        background: #fff; }
        #wrap #quick ul li img {
          margin-top: 10px; }
        #wrap #quick ul li a {
          color: #999;
          font-weight: 400; }
      #wrap #quick ul :last-child {
        border: none;
        background: none; }
  #wrap #sec1 {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative; }
    #wrap #sec1 #slider {
      width: 100%;
      height: 500px;
      overflow: hidden;
      position: relative; }
      #wrap #sec1 #slider .panel {
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0; }
        #wrap #sec1 #slider .panel li {
          width: 100%;
          height: 500px;
          position: absolute;
          top: 0;
          left: 100%; }
          #wrap #sec1 #slider .panel li.on {
            left: 0%; }
          #wrap #sec1 #slider .panel li.panel1 {
            background-image: url(../img/Main_banner_h500.png); }
          #wrap #sec1 #slider .panel li.panel2 {
            background-image: url(../img/Main_banner2_h500.jpg); }
          #wrap #sec1 #slider .panel li.panel3 {
            background-image: url(../img/Main_banner3_h500.jpg); }
          #wrap #sec1 #slider .panel li p {
            font-size: 60px;
            color: #fff;
            font-weight: 400;
            position: absolute;
            opacity: 0; }
            #wrap #sec1 #slider .panel li p.panel_txt1 {
              top: 80px;
              left: 0; }
            #wrap #sec1 #slider .panel li p.panel_txt2 {
              top: 140px;
              left: 0; }
            #wrap #sec1 #slider .panel li p.panel_txt3 {
              top: 200px;
              left: 0; }
            #wrap #sec1 #slider .panel li p span {
              font-weight: bold; }
  #wrap #sec2 {
    width: 1160px;
    height: 300px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px; }
    #wrap #sec2 #sec2_box1 {
      grid-column: 1/3;
      border: 1px solid #8cbc0f;
      position: relative; }
      #wrap #sec2 #sec2_box1 .notice {
        height: 60px;
        display: flex;
        border-bottom: 1px solid #8cbc0f; }
        #wrap #sec2 #sec2_box1 .notice li {
          position: absolute;
          top: 30px; }
          #wrap #sec2 #sec2_box1 .notice li a {
            font-size: 20px;
            transition: all .5s; }
            #wrap #sec2 #sec2_box1 .notice li a.on {
              color: #8cbc0f; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(1) {
          left: 15px;
          padding-right: 20px;
          border-right: 1px solid #c9c9c9; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(2) {
          left: 130px;
          padding-right: 20px;
          border-right: 1px solid #c9c9c9; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(3) {
          left: 240px; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(4) {
          right: 35px; }
          #wrap #sec2 #sec2_box1 .notice li:nth-child(4) a {
            font-size: 12px;
            font-weight: 300;
            color: #999;
            vertical-align: bottom; }
          #wrap #sec2 #sec2_box1 .notice li:nth-child(4) img {
            position: absolute;
            bottom: 0;
            margin-left: 5px; }
      #wrap #sec2 #sec2_box1 .sec2_txt_box {
        position: absolute;
        left: 15px;
        font-weight: 400;
        width: 100%; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box:nth-child(1) {
          top: 80px; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box:nth-child(2) {
          top: 125px; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box:nth-child(3) {
          top: 170px; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box:nth-child(4) {
          top: 215px; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box:nth-child(5) {
          top: 260px; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box .date {
          position: absolute;
          right: 35px;
          color: #999;
          font-size: 14px; }
      #wrap #sec2 #sec2_box1 .sec2_view {
        display: none; }
        #wrap #sec2 #sec2_box1 .sec2_view.on {
          display: block; }
    #wrap #sec2 .login_wrap {
      width: 100%;
      height: 100%;
      border: 1px solid #2263bb; }
      #wrap #sec2 .login_wrap .login_box_wrap {
        width: 235px;
        margin: 30px auto 0 auto; }
        #wrap #sec2 .login_wrap .login_box_wrap .login_box1 {
          width: 100%; }
          #wrap #sec2 .login_wrap .login_box_wrap .login_box1 .login_sel {
            display: flex;
            font-size: 20px; }
            #wrap #sec2 .login_wrap .login_box_wrap .login_box1 .login_sel li.login_btn {
              border-right: 1px solid #c9c9c9;
              padding-right: 40px; }
            #wrap #sec2 .login_wrap .login_box_wrap .login_box1 .login_sel li.guest_login_btn {
              padding-left: 40px; }
            #wrap #sec2 .login_wrap .login_box_wrap .login_box1 .login_sel li a {
              color: #999;
              transition: all .5s; }
              #wrap #sec2 .login_wrap .login_box_wrap .login_box1 .login_sel li a.on {
                color: #333; }
        #wrap #sec2 .login_wrap .login_box_wrap .login_box2 {
          width: 100%;
          margin-top: 25px;
          position: relative; }
          #wrap #sec2 .login_wrap .login_box_wrap .login_box2 input {
            display: none;
            width: 100%;
            height: 40px;
            border: 1px solid #c9c9c9;
            text-align: center;
            color: #c9c9c9;
            font-size: 14px; }
            #wrap #sec2 .login_wrap .login_box_wrap .login_box2 input.active {
              display: block; }
          #wrap #sec2 .login_wrap .login_box_wrap .login_box2 p {
            font-size: 12px;
            color: red;
            position: absolute;
            display: none; }
        #wrap #sec2 .login_wrap .login_box_wrap .login_box3 {
          width: 100%;
          margin-top: 15px;
          position: relative; }
          #wrap #sec2 .login_wrap .login_box_wrap .login_box3 input {
            display: none;
            width: 100%;
            height: 40px;
            border: 1px solid #c9c9c9;
            text-align: center;
            color: #c9c9c9;
            font-size: 14px; }
            #wrap #sec2 .login_wrap .login_box_wrap .login_box3 input.active {
              display: block; }
          #wrap #sec2 .login_wrap .login_box_wrap .login_box3 p {
            font-size: 12px;
            color: red;
            position: absolute;
            display: none; }
        #wrap #sec2 .login_wrap .login_box_wrap .login_box4 {
          width: 100%;
          margin-top: 20px;
          display: flex;
          justify-content: space-around; }
          #wrap #sec2 .login_wrap .login_box_wrap .login_box4 a {
            font-size: 14px; }
        #wrap #sec2 .login_wrap .login_box_wrap .login_box5 {
          margin-top: 25px; }
  #wrap #sec3 {
    width: 1160px;
    height: 365px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px; }
    #wrap #sec3 div {
      width: 100%;
      height: 100%;
      position: relative; }
      #wrap #sec3 div ul li {
        color: #fff; }
        #wrap #sec3 div ul li.sec3_box_tit {
          font-size: 24px;
          text-align: center;
          margin-top: 70px; }
        #wrap #sec3 div ul li.sec3_box_txt {
          font-size: 18px;
          text-align: center;
          margin-top: 50px; }
        #wrap #sec3 div ul li a {
          display: block;
          margin: 45px auto 0 auto; }
      #wrap #sec3 div.sec3_box1 {
        background: #f1b000 url(../img/certi_bg.png) no-repeat 5px 5px; }
        #wrap #sec3 div.sec3_box1 .sec3_box1_btn {
          width: 220px;
          height: 80px;
          background-image: url(../img/ico_certi.png); }
      #wrap #sec3 div.sec3_box2 {
        background: #847fef url(../img/treat_bg.png) no-repeat 5px 5px; }
        #wrap #sec3 div.sec3_box2 .sec3_box2_btn {
          width: 220px;
          height: 80px;
          background-image: url(../img/ico_treat.png); }
      #wrap #sec3 div.sec3_box3 {
        border: 1px solid #c9c9c9; }
        #wrap #sec3 div.sec3_box3 .sec3_box3_1 span {
          color: #333;
          position: absolute;
          top: -25px; }
        #wrap #sec3 div.sec3_box3 .sec3_box3_1 a {
          font-size: 12px;
          font-weight: 300;
          color: #999;
          vertical-align: bottom;
          position: absolute;
          top: -20px;
          right: 20px;
          margin-top: 0; }
          #wrap #sec3 div.sec3_box3 .sec3_box3_1 a img {
            position: absolute;
            bottom: 0;
            margin-left: 5px; }
        #wrap #sec3 div.sec3_box3 .sec3_box3_img {
          width: 250px;
          height: 255px;
          background-image: url(../img/dreamtree.png);
          position: absolute;
          left: 50%;
          margin-left: -125px;
          top: 50%;
          margin-top: -127.5px; }
  #wrap #sec4 {
    width: 1160px;
    height: 440px;
    margin: 50px auto 0 auto; }
    #wrap #sec4 img {
      cursor: pointer; }
  #wrap footer {
    width: 100%;
    margin-top: 30px; }
    #wrap footer .footer1 {
      width: 100%;
      height: 70px;
      background: #666; }
      #wrap footer .footer1 .f_1_box {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        line-height: 70px; }
        #wrap footer .footer1 .f_1_box li a {
          color: #fff;
          font-size: 14px;
          padding: 0 30px;
          border-right: 1px solid #ccc; }
        #wrap footer .footer1 .f_1_box li:last-child a {
          border-right: 0; }
    #wrap footer .footer2 {
      width: 100%;
      height: 140px;
      background: #f8f8f8; }
      #wrap footer .footer2 .f_2_box {
        width: 1160px;
        margin: 0 auto;
        display: flex; }
        #wrap footer .footer2 .f_2_box a {
          display: block; }
        #wrap footer .footer2 .f_2_box :nth-child(1) a {
          width: 138px;
          height: 39px;
          background-image: url(../img/footer_l1.png);
          margin-top: 45px; }
        #wrap footer .footer2 .f_2_box p {
          padding-top: 43px;
          line-height: 17px;
          font-size: 14px;
          color: #999;
          padding-left: 145px; }
        #wrap footer .footer2 .f_2_box :nth-child(3) a {
          width: 100px;
          height: 66px;
          background-image: url(../img/footer_l2.png);
          margin-left: 230px;
          margin-top: 30px; }
        #wrap footer .footer2 .f_2_box :nth-child(4) a {
          width: 57px;
          height: 57px;
          background-image: url(../img/footer_l3.png);
          margin-left: 5px;
          margin-top: 35px; }
        #wrap footer .footer2 .f_2_box :nth-child(5) a {
          width: 130px;
          height: 36px;
          background-image: url(../img/footer_l4.png);
          margin-left: 10px;
          margin-top: 50px; }

@media screen and (max-width: 800px) {
  html, body {
    width: 100vw;
    overflow-x: hidden; }

  body {
    padding: 0 15px;
    position: relative; }

  #wrap #top_wrap {
    position: fixed;
    z-index: 500;
    line-height: 16px; }
    #wrap #top_wrap #top_menu {
      width: 100%; }
      #wrap #top_wrap #top_menu .top_logo {
        position: absolute;
        left: 50%;
        margin-left: -56px; }
      #wrap #top_wrap #top_menu .top_txt {
        font-size: 12px;
        position: absolute;
        top: 20px; }
        #wrap #top_wrap #top_menu .top_txt:nth-child(2) {
          right: 20%; }
        #wrap #top_wrap #top_menu .top_txt:nth-child(3) {
          right: 8%; }
      #wrap #top_wrap #top_menu .m_top_gnb {
        display: block; }
        #wrap #top_wrap #top_menu .m_top_gnb a {
          display: block;
          width: 30px;
          height: 19px;
          background-image: url(../img/allmenu.png);
          position: absolute;
          left: 2%;
          top: 12px; }
      #wrap #top_wrap #top_menu .m_gnb_menu {
        background: #fff;
        width: 0;
        height: 100vh;
        z-index: 1000;
        position: relative;
        display: none; }
        #wrap #top_wrap #top_menu .m_gnb_menu .m_gnb_close {
          position: absolute;
          left: 30px;
          top: 30px; }
        #wrap #top_wrap #top_menu .m_gnb_menu ul img {
          position: absolute;
          left: 50%;
          margin-left: -69px;
          top: 20px; }
        #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit {
          width: 30%;
          margin-top: 50px;
          text-align: center;
          font-size: 24px; }
          #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit a {
            transition: all .5s; }
            #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit a.on {
              color: #8cbc0f;
              border-bottom: 3px solid #8cbc0f; }
          #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit.m_gnb_1 {
            margin-top: 40%; }
          #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit ul {
            display: none;
            font-size: 16px;
            position: absolute;
            right: 25%;
            top: 140px; }
            #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit ul.on {
              display: block; }
            #wrap #top_wrap #top_menu .m_gnb_menu ul .m_gnb_menu_tit ul li {
              margin-top: 20px; }
  #wrap #gnb {
    display: none; }
  #wrap #quick {
    display: none; }
  #wrap #sec1 {
    height: 280px;
    min-width: 100%; }
    #wrap #sec1 #slider {
      height: 100%; }
      #wrap #sec1 #slider .panel {
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0; }
        #wrap #sec1 #slider .panel li {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 100%; }
          #wrap #sec1 #slider .panel li.on {
            left: 0%; }
          #wrap #sec1 #slider .panel li.panel1 {
            background-image: url(../img/m_Main_banner1_737x500.jpg);
            background-size: 100vw; }
          #wrap #sec1 #slider .panel li.panel2 {
            background-image: url(../img/m_Main_banner2_720x500.jpg);
            background-size: 100vw; }
          #wrap #sec1 #slider .panel li.panel3 {
            background-image: url(../img/m_Main_banner3_720x500.jpg);
            background-size: 100vw; }
          #wrap #sec1 #slider .panel li p {
            font-size: 24px;
            display: block; }
            #wrap #sec1 #slider .panel li p.panel_txt1 {
              top: 80px;
              left: 50%;
              margin-left: -88px; }
            #wrap #sec1 #slider .panel li p.panel_txt2 {
              top: 110px;
              left: 50%;
              margin-left: -77px; }
            #wrap #sec1 #slider .panel li p.panel_txt3 {
              top: 140px;
              left: 50%;
              margin-left: -77px; }
  #wrap #sec2 {
    width: 100%;
    margin-top: 20px;
    display: block; }
    #wrap #sec2 #sec2_box1 {
      grid-column: none;
      height: 100%; }
      #wrap #sec2 #sec2_box1 .notice {
        width: 100%;
        height: 60px;
        display: flex;
        border-bottom: 1px solid #8cbc0f; }
        #wrap #sec2 #sec2_box1 .notice li {
          position: absolute;
          top: 30px; }
          #wrap #sec2 #sec2_box1 .notice li a {
            font-size: 16px; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(1) {
          left: 15px;
          padding-right: 15px; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(2) {
          left: 110px;
          padding-right: 15px; }
        #wrap #sec2 #sec2_box1 .notice li:nth-child(3) {
          left: 205px; }
      #wrap #sec2 #sec2_box1 .sec2_txt_box {
        font-size: 14px; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box a {
          display: block;
          width: 60%;
          padding: 0 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute; }
        #wrap #sec2 #sec2_box1 .sec2_txt_box .date {
          position: absolute;
          right: 35px;
          color: #999;
          font-size: 12px; }
    #wrap #sec2 .login_wrap {
      display: none; }
  #wrap #sec3 {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block; }
    #wrap #sec3 div {
      width: 100%;
      height: 300px;
      margin-top: 30px; }
      #wrap #sec3 div ul {
        width: 100%;
        height: 100%; }
        #wrap #sec3 div ul li {
          color: #fff; }
          #wrap #sec3 div ul li.sec3_box_tit {
            font-size: 22px;
            margin-top: 0;
            position: absolute;
            top: 50px;
            left: 50%;
            margin-left: -53px; }
          #wrap #sec3 div ul li.sec3_box_txt {
            font-size: 16px;
            margin-top: 0;
            position: absolute;
            top: 110px;
            left: 50%; }
      #wrap #sec3 div .sec3_box_txt {
        margin-left: -99px; }
      #wrap #sec3 div .sec3_box1_btn {
        width: 220px;
        height: 80px;
        background-image: url(../img/ico_certi.png);
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -110px; }
      #wrap #sec3 div.sec3_box2 .sec3_box_txt {
        margin-left: -82.5px; }
      #wrap #sec3 div.sec3_box2 .sec3_box2_btn {
        width: 220px;
        height: 80px;
        background-image: url(../img/ico_treat.png);
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -110px; }
  #wrap #sec4 {
    display: none; }
  #wrap #footer {
    height: 40px; }
    #wrap #footer .footer1 {
      width: 100%;
      height: 40px;
      background: #666; }
      #wrap #footer .footer1 .f_1_box {
        width: 100%;
        line-height: 40px; }
        #wrap #footer .footer1 .f_1_box li {
          width: 33%;
          height: 100%;
          margin: 0;
          text-align: center; }
          #wrap #footer .footer1 .f_1_box li:nth-child(4) {
            display: none; }
          #wrap #footer .footer1 .f_1_box li:nth-child(5) {
            display: none; }
          #wrap #footer .footer1 .f_1_box li:nth-child(6) {
            display: none; }
          #wrap #footer .footer1 .f_1_box li a {
            font-size: 10px;
            border-right: none;
            padding: 0; }
    #wrap #footer .footer2 {
      display: none; } }

/*# sourceMappingURL=index.css.map */
