//font

$mainWid : 1160px;
$half_mainWidth : 580px;

//mp

$mp25 : 25px;
$mp30 : 30px;
$mp50 : 50px;

//color

$fontBlk : #333;
$fontGray : #999;

$borderWhite : #c9c9c9;

$mainColor : #8cbc0f;